<div data-ng-controller="EventListController">
    <div class="eventContainer" data-ng-repeat="event in events" ng-click="onClickEventContainer()">
        <h1>{{ event.name }}</h1>
        <p>Description: {{ event.description }}</p>
        <p>Für wen: {{ event.targetGroup }}</p>
        <h2>location</h2>
        <p>Ort: {{ event.location.name }}</p>
        <p>Strasse: {{ event.location.street }}</p>
        <p>PLZ: {{ event.location.plz }}</p>
        <p>City: {{ event.location.city }}</p>
        <h2>Information</h2>
        <p>Beginn: {{ event.times.begin | date: 'yyyy-MM-dd' }} Time: {{ event.times.begin | date: 'hh-mm' }}</p>
        <p>Ende: {{ event.times.end  | date: 'yyyy-MM-dd' }} Time: {{ event.times.end | date: 'hh-mm' }}</p>
    </div>

    <div class="alert alert-danger" ng-show="errorGetAllEvents">
    <strong>Sorry my Friend!</strong> The eventlist could not be loaded.
</div>


</div>
