<div>
    <div class="jumbotron">
        <h1>Add new Event</h1>
    </div>
        <label class="label label-default" for="eventname">Eventname</label>
        <input class="form-control" ng-model="event.name" type="text" id="eventname"></br>
        <label class="label label-default" for="description">Description</label>
        <input class="form-control" ng-model="event.description" type="text" id="description"></br>
        <label class="label label-default" for="targetGroup">Target Group</label>
        <input class="form-control" ng-model="event.target" type="text" id="targetGroup"></br>
        <label class="label label-default" for="locationname">Location name</label>
        <input class="form-control" ng-model="event.location.name" type="text" id="locationname"></br>
        <label class="label label-default" for="locationstreet">Location street</label>
        <input class="form-control" ng-model="event.location.street" type="text" id="locationstreet"></br>
        <label class="label label-default" for="locationplz">Location plz</label>
        <input class="form-control" ng-model="event.location.zipCode" type="text" id="locationplz"></br>
        <label class="label label-default" for="locationcity">Location city</label>
        <input class="form-control" ng-model="event.location.city" type="text" id="locationcity"></br>
        <label class="label label-default" for="eventbegin">Event begin</label>
        <input class="form-control" ng-model="event.times.begin" type="datetime-local" id="eventbegin"></br>
        <label class="label label-default" for="eventend">Event end</label>
        <input class="form-control" ng-model="event.times.end" type="datetime-local" id="eventend"></br>
        <button class="btn btn-sm btn-default" type="button" ng-click="addNewEventInRepo()">Create new Event</button>

    <div class="alert alert-success" ng-show="successfullAddNewEvent">
        <strong>Well done!</strong> Event successfully added.
    </div>

    <div class="alert alert-success" ng-show="errorAddNewEvent">
        <strong>Well done!</strong> Event successfully added.
    </div>

</div>