<div>
    <div class="jumbotron">
        <h1>Add new Guest</h1>
        <p>Please fill all fields.</p>
    </div>
    <label class="label label-default" for="guestname">Guestname</label>
    <input class="form-control" ng-model="guest.name" type="text" id="guestname"></br>
    <label class="label label-default" for="contribution">contribution</label>
    <input class="form-control" ng-model="guest.contribution" type="text" id="contribution"></br>
    <label class="label label-default" for="comment">Comment</label>
    <input class="form-control" ng-model="guest.comment" type="text" id="comment"></br>
    <button class="btn btn-sm btn-default" type="button" ng-click="addNewGuestToEvent(guestname, contribution, comment)">Add new guest</button>

    <div class="alert alert-success" ng-show="guestAdded">
        <strong>Well done!</strong> Guest successfully added.
    </div>

    <div class="alert alert-danger" ng-show="errorAddingGuest">
        <strong>Sorry my Friend!</strong> The guestlist is full.
    </div>

</div>