.eventContainer{
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightgrey;
    text-align: center;
}

.eventContainer:hover{
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.eventContainerDetail{
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightgrey;
    text-align: center;
}

.guestContainer{
    border-style: solid;
    padding: 10px;
    margin: 10px;
}